body, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 960px;
    height: auto;
    margin: auto;
    text-align: center;
    padding: 20px;
}
.cus-button-01 {
    position: relative;
    display: inline-block;
    width: 150px;
    height: 50px;
    box-shadow:  0 0 10px gray;
    
}
.cus-button-01 > span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 18px;
}